# Python
__pycache__/
*.py[cod]
*.so
.Python

# Virtual environments
.venv/
.venv310/
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs
outputs/*
!outputs/.gitkeep

# Logs and checkpoints
*.log
*.out
*.pt
*.bin
*.safetensors

# Hugging Face / caches
.cache/

